{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "endOfLine": "auto",
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.yaml", "*.yml", "package.json", "package-lock.json"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        }
    ]
}
