.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.husky/**
*.touch
*.cache
.node-version
esbuild.mjs
.comate
.claude
